window {
        background-color: rgba (0, 0, 0, 0.0);
        border: 10px solid #262626;
}

#box-outer {
        /* Define attributes of the box surrounding icons here */
        background-color: rgba (255, 255, 255, 0.0)
}

#box-inner {
     background-color: #262626; 
    /* border-radius: 5px; */
	/* border-style: dotted; */
	/* border-width: 1px; */
	/* border-color: rgba (156, 142, 122, 0.7); */
	padding: 10px 32px;
	border: 3px solid #303030;
	margin: 10px; 
	font-family: "JetBrains Mono";
	font-size: 14px; 
	/* font-weight: bold; */
	color: #e6e6e6;
}

